<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.entrance.dao.MajorDao">

	<resultMap type="com.entrance.bean.MajorEnroll" id="MajorResult">
		<id property="id" column="ID" jdbcType="INTEGER" />
		<result property="major" column="MAJOR" jdbcType="VARCHAR" />
		<result property="college" column="COLLEGE" jdbcType="VARCHAR" />
		<result property="areas" column="AREAS" jdbcType="VARCHAR" />
		<result property="subject" column="SUBJECT" jdbcType="VARCHAR" />
		<result property="average" column="AVERAGE" jdbcType="INTEGER" />
		<result property="rank" column="RANK" jdbcType="INTEGER" />
		<result property="highest_score" column="HIGHEST_SCORE"
			jdbcType="INTEGER" />
		<result property="enrollment" column="ENROLLMENT" jdbcType="INTEGER" />
		<result property="batch" column="BATCH" jdbcType="VARCHAR" />
		<result property="year" column="YEAR" jdbcType="INTEGER" />
	</resultMap>
	<select id="selectMajor" resultMap="MajorResult">
		SELECT
		ID,MAJOR,COLLEGE,AREAS,SUBJECT,AVERAGE,HIGHEST_SCORE,ENROLLMENT,BATCH,YEAR
		FROM major_enroll WHERE major like
		CONCAT('%',#{arg0},'%')
		<if test="arg1 !=null and arg1!=''">
			and areas=#{arg1}
		</if>
		<if test="arg2 !=null and arg2!=''">
			and subject=#{arg2}
		</if>
		<if test="arg3 !=null and arg3!=''">
			and batch=#{arg3}
		</if>
		<if test="arg4 !=null and arg4!=''">
			and year=#{arg4}
		</if>
		limit #{arg5},10
	</select>
	<select id="selectCount" resultType="int">
		SELECT COUNT(*) FROM major_enroll WHERE major like
		CONCAT('%',#{arg0},'%')
		<if test="arg1 !=null and arg1!=''">
			and areas=#{arg1}
		</if>
		<if test="arg2 !=null and arg2!=''">
			and subject=#{arg2}
		</if>
		<if test="arg3 !=null and arg3!=''">
			and batch=#{arg3}
		</if>
		<if test="arg4 !=null and arg4!=''">
			and year=#{arg4}
		</if>
	</select>
	<select id="getCollege" resultMap="MajorResult">
		select DISTINCT
		major_enroll.college from major_enroll INNER JOIN
		college on
		major_enroll.college=college.college
		<if test="arg4!=null and arg4!=''">
			AND major_enroll.year=#{arg4}
		</if>
		<if test="arg3!=null and arg3!=''">
			AND major_enroll.batch=#{arg3}
		</if>
		<if test="arg2!=null and arg2!=''">
			AND major_enroll.subject=#{arg2}
		</if>
		<if test="arg1!=null and arg1!=''">
			AND major_enroll.areas=#{arg1}
		</if>
		<if test="arg0!=null and arg0!=''">
			AND college.place=#{arg0}
		</if>
	</select>
	<select id="getMajor" resultMap="MajorResult">
		select DISTINCT
		major_enroll.major from major_enroll INNER JOIN college
		on
		major_enroll.college=college.college AND
		major_enroll.college=#{arg5}
		<if test="arg4!=null and arg4!=''">
			AND major_enroll.year=#{arg4}
		</if>
		<if test="arg3!=null and arg3!=''">
			AND major_enroll.batch=#{arg3}
		</if>
		<if test="arg2!=null and arg2!=''">
			AND major_enroll.subject=#{arg2}
		</if>
		<if test="arg1!=null and arg1!=''">
			AND major_enroll.areas=#{arg1}
		</if>
		<if test="arg0!=null and arg0!=''">
			AND college.place=#{arg0}
		</if>
	</select>
	<select id="rank" resultMap="MajorResult">
		select
		major_enroll.college,major_enroll.batch,major_enroll.year,major_enroll.average,
		major_enroll.major,major_enroll.rank,major_enroll.subject,college.place
		as areas from major_enroll INNER JOIN
		college
		on
		major_enroll.college=college.college AND major_enroll.rank>=#{arg6}
		<if test="arg7!=null and arg7!=''">
			AND
			major_enroll.major like
			CONCAT('%',#{arg7},'%')
		</if>
		<if test="arg5!=null and arg5!=''">
			AND
			major_enroll.college=#{arg5}
		</if>
		<if test="arg4!=null and arg4!=''">
			AND major_enroll.year=#{arg4}
		</if>
		<if test="arg3!=null and arg3!=''">
			AND major_enroll.batch=#{arg3}
		</if>
		<if test="arg2!=null and arg2!=''">
			AND major_enroll.subject=#{arg2}
		</if>
		<if test="arg1!=null and arg1!=''">
			AND major_enroll.areas=#{arg1}
		</if>
		<if test="arg0!=null and arg0!=''">
			AND college.place=#{arg0}
		</if>
		ORDER BY major_enroll.rank
	</select>
</mapper>