<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.entrance.dao.PositionDao">

	<resultMap type="com.entrance.bean.Position" id="PositionResult">
		<id property="id" column="ID" jdbcType="INTEGER" />
		<result property="areas" column="AREAS" jdbcType="VARCHAR" />
		<result property="subject" column="SUBJECT" jdbcType="VARCHAR" />
		<result property="college" column="COLLEGE" jdbcType="VARCHAR" />
		<result property="major" column="MAJOR" jdbcType="VARCHAR" />
		<result property="year" column="YEAR" jdbcType="INTEGER" />
		<result property="first" column="first" jdbcType="INTEGER" />
		<result property="second" column="second" jdbcType="INTEGER" />
		<result property="third" column="third" jdbcType="INTEGER" />
		<result property="fourth" column="fourth" jdbcType="INTEGER" />
		<result property="fifth" column="fifth" jdbcType="INTEGER" />
		<result property="sixth" column="sixth" jdbcType="INTEGER" />
	</resultMap>
	<!-- 根据科属、批次、年份查省控线 -->
	<select id="getPosition" resultMap="PositionResult">
		SELECT* FROM position WHERE year=#{arg0} and areas=#{arg1}
		<if test="arg2 !=null and arg2!=''">
			and college=#{arg2}
		</if>
		<if test="arg3 !=null and arg3!=''">
			and major=#{arg3}
		</if>
	</select>


</mapper>